swagger: "2.0"
info:
  version: "2.0"
  title: Postcode API
  description: |
    De Postcode API gebruikt Open Data van Kadaster's [BAG](http://bag.kadaster.nl) en Open Data van het [CBS](http://www.cbs.nl). Alle mogelijke API calls zijn beschreven in deze specificatie. Voor support en suggesties voor verbeteringen of feature requests verwijzen we je naar de *issues* sectie onze Open Source Github repository: https://github.com/apiwise/postcodeapi.

    ### Parameters
    Alle parameters die hier beschreven staan zijn query parameters en dienen als zodanig met de URL meegestuurd te worden, bijvoorbeeld:

    `https://postcode-api.apiwise.nl/v2/addresses/?postcode=1234AB&number=1`

    ### Hypermedia
    Alle responses van deze API bevatten [HAL](http://stateless.co/hal_specification.html) *hypermedia links* om door de data te kunnen navigeren. Deze navigatie vind je in de `_links` objecten.

    ### Authenticatie
    De gehele API is beveiligd met een Api Key. Deze key heb je gekregen tijdens de registratieprocedure. Wij gebruiken deze vorm van authenticatie om het gebruik van deze dienst te kunnen monitoren en contact op te kunnen nemen met de afnemer mocht er (onbewust) misbruik van de dienst gemaakt worden.

    Het meesturen van de Api Key gebeurt met de zogenaamde `X-Api-Key` request header. Als je API Key bijvoorbeeld `a0B1c2D34D5c6b7a8` is, dan stuur je dit mee in de header: `X-Api-Key: a0B1c2D34D5c6b7a8`.

    Een request kan als volgt gemaakt worden met CURL:

    `curl -H "X-Api-Key: a0B1c2D34D5c6b7a8" "https://postcode-api.apiwise.nl/v2/addresses/?postcode=1234AB"`

    Een ander voorbeeld met PHP:

    ````
    // De headers worden altijd meegestuurd als array
    $headers = array();
    $headers[] = 'X-Api-Key: a0B1c2D34D5c6b7a8';

    // De URL naar de API call
    $url = 'https://postcode-api.apiwise.nl/v2/addresses/?postcode=1234AB';

    $curl = curl_init($url);
    curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
    curl_setopt($curl, CURLOPT_HTTPHEADER, $headers);

    // De ruwe JSON response
    $response = curl_exec($curl);

    // Gebruik json_decode() om de response naar een PHP array te converteren
    $data = json_decode($response);

    curl_close($curl);
    ````
  contact:
    name: Apiwise
    url: http://www.apiwise.nl
    email: info@apiwise.nl
host: postcode-api.apiwise.nl
basePath: /v2
schemes:
  - https
produces:
  - application/hal+json
securityDefinitions:
  apiKey:
    type: apiKey
    name: X-Api-Key
    in: header
security:
  - apiKey: []
tags:
  - name: address
    description: Adres calls
paths:
  /addresses/:
    get:
      tags: [address]
      summary: Alle adressen
      description: Alle adressen in Nederland, gepagineerd per 20 records.
      parameters:
        - name: from
          in: query
          type: string
          required: false
          x-example: "0268200000075156"
          description: Bedoeld voor paginatie. Gebruik de HAL links voor de juiste waarde
        - name: postcode
          in: query
          type: string
          required: false
          x-example: 6545CA
          description: Filteren op postcode in *P6* formaat
        - name: number
          in: query
          type: integer
          required: false
          x-example: 29
          description: Filteren op huisnummer (alleen in combinatie met postcode)
      responses:
        200:
          description: OK
          schema:
            type: object
            required:
              - _embedded
              - _links
            properties:
              _embedded:
                type: object
                required:
                  - addresses
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: "#/definitions/Address"
              _links:
                type: object
                required:
                  - self
                properties:
                  self:
                    type: object
                    required:
                      - href
                    properties:
                      href:
                        type: string
                        example: https://postcode-api.apiwise.nl/v2/addresses/
                        description: Link naar huidige response
                  next:
                    type: object
                    required:
                      - href
                    properties:
                      href:
                        type: string
                        example: https://postcode-api.apiwise.nl/v2/addresses/?from=0268200000075156
                        description: Link naar volgende 20 resultaten
  /addresses/{id}/:
    get:
      tags: [address]
      summary: Enkel adres
      parameters:
        - name: id
          description: Identifier van het adres, gelijk aan die van de overheidstandaard BAG
          in: path
          type: string
          required: true
          x-example: "0268200000075156"
      description: Informatie over een enkel adres.
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Address"
definitions:
  Address:
    type: object
    required:
      - id
      - street
      - number
      - letter
      - addition
      - postcode
      - geo
      - type
      - purpose
      - _links
    properties:
      id:
        type: string
        example: "0268200000075164"
        description: Identifier van het adres, gelijk aan die van de BAG
      street:
        type: string
        example: Binderskampweg
        description: Straat
      number:
        type: integer
        example: 29
        description: Huisnummer
      letter:
        type: [ string, "null" ]
        example: U
        description: Huisletter
      addition:
        type: [ string, "null" ]
        example: "31"
        description: Huisnummertoevoeging
      postcode:
        type: [ string, "null" ]
        example: 6545CA
        description: Postcode in *P6* formaat
      nen5825:
        $ref: "#/definitions/Nen5825"
      city:
        $ref: "#/definitions/City"
      municipality:
        $ref: "#/definitions/Municipality"
      province:
        $ref: "#/definitions/Province"
      geo:
        type: object
        properties:
          center:
            type: object
            properties:
              wgs84:
                $ref: "#/definitions/Wgs84Center"
              rd:
                $ref: "#/definitions/RdCenter"
      type:
        type: string
        example: Verblijfsobject
        description: Type gebouw
      purpose:
        type: [ string, "null" ]
        example: woonfunctie
        description: Gebruiksdoel
      _links:
        type: object
        required:
          - self
        properties:
          self:
            type: object
            required:
              - href
            properties:
              href:
                type: string
                example: https://postcode-api.apiwise.nl/v2/addresses/0268200000075164/
  Postcode:
    type: object
    required:
      - postcode
      - city
      - municipality
      - province
      - streets
      - geo
      - _links
    properties:
      postcode:
        type: string
        example: 6545CA
        description: Postcode
      city:
        $ref: "#/definitions/City"
      municipality:
        $ref: "#/definitions/Municipality"
      province:
        $ref: "#/definitions/Province"
      streets:
        type: array
        example: [Binderskampweg, Kronenburgersingel]
        description: Ontdubbelde straten die binnen deze postcode vallen
      geo:
        type: object
        required:
          - center
        properties:
          center:
            type: object
            required:
              - wgs84
              - rd
            properties:
              wgs84:
                $ref: "#/definitions/Wgs84Center"
              rd:
                $ref: "#/definitions/RdCenter"
      _links:
        type: object
        required:
          - self
        properties:
          self:
            type: object
            required:
              - href
            properties:
              href:
                type: string
                example: https://postcode-api.apiwise.nl/v2/postcodes/6545CA
  Province:
    type: object
    properties:
      id:
        type: string
        example: "25"
        description: Identifier van de provincie, gelijk aan die van de overheidstandaard BRP
      label:
        type: string
        example: Gelderland
    description: Provincie
  Municipality:
    type: object
    properties:
      id:
        type: string
        example: "0268"
        description: Identifier van de gemeente, gelijk aan die van de overheidstandaard BRP
      label:
        type: string
        example: Nijmegen
    description: Gemeente
  City:
    type: object
    properties:
      id:
        type: string
        example: "3030"
        description: Identifier van de woonplaats, gelijk aan die van de overheidstandaard BAG
      label:
        type: string
        example: Nijmegen
    description: Woonplaats
  Nen5825:
    type: object
    properties:
      street:
        type: string
        example: "BINDERSKAMPWEG"
        description: NEN-5825 schrijfwijze van straatnaam
      postcode:
        type: string
        example: "6545 CA"
        description: NEN-5825 schrijfwijze van postcode
    description: NEN-5825 schrijwijzen van straatnaam en postcode
  Wgs84Center:
    type: object
    properties:
      type:
        type: string
        example: Point
      coordinates:
        type: array
        items:
          type: number
        example: [6.861053257304809, 53.32271304611565]
      crs:
        type: object
        properties:
          type:
            type: string
            example: name
          properties:
            type: object
            properties:
              name:
                type: string
                example: urn:ogc:def:crs:OGC:1.3:CRS84
  RdCenter:
      type: object
      properties:
        type:
          type: string
          example: Point
        coordinates:
          type: array
          items:
            type: number
          example: [253207, 593924]
        crs:
          type: object
          properties:
            type:
              type: string
              example: name
            properties:
              type: object
              properties:
                name:
                  type: string
                  example: urn:ogc:def:crs:EPSG::28992
